# Segmenting and Clustering Neighbourhoods in Toronto Part 1

## 1. Import Libraries

In [1]:
import pandas as pd
import requests
!pip install beautifulsoup4
!pip install lxml
from bs4 import BeautifulSoup
import lxml
print('Finished')

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Finished

## 2. Scrape Table from Wikipedia and Convert to a Dataframe

In [22]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
toronto_df=pd.DataFrame(df[0])
toronto_df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

## 3.a) Remove Rows with Borough 'Not Assigned'

In [23]:
toronto_df = toronto_df.drop(toronto_df[toronto_df.Borough =="Not assigned"].index)

In [24]:
toronto_df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

## 3.b) List Neighbourhoods with a Comma for Separation

In [25]:
toronto_df['Neighborhood']= toronto_df['Neighborhood'].str.replace('/',',') #replace / with ,
toronto_df=toronto_df.reset_index() #reset the index so that it starts at 0
toronto_df.head()

,index,Postal code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,5,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"

## 3.c) Replace N/A Neighbourhoods with Borough Name

In [31]:
toronto_df['Neighborhood']=toronto_df['Neighborhood'].replace('NaN', toronto_df['Borough'])

In [33]:
toronto_df.head(12)

,index,Postal code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,5,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
5,8,M9A,Etobicoke,Islington Avenue
6,9,M1B,Scarborough,"Malvern , Rouge"
7,11,M3B,North York,Don Mills
8,12,M4B,East York,"Parkview Hill , Woodbine Gardens"
9,13,M5B,Downtown Toronto,"Garden District, Ryerson"
10,14,M6B,North York,Glencairn
11,17,M9B,Etobicoke,"West Deane Park , Princess Gardens , Martin Gr..."

In [35]:
toronto_df.shape #find number of rows of dataframe

(103, 4)